.wrapper {
    display: flex;
    margin: 8px;
    border: 1px solid;
    justify-content: space-between;
    padding: 8px;
    border-radius: 4px;
}

.header {
    font-size: 40px;
    font-weight: bold;
}

.p {
    font-size: 24px;
    line-height: 27px;
}